.loginPage {

  /* PAGE HEADER CSS  */
  .mainLogo {position: absolute; top:20px; right: 60px; width: 140px; display: block;}

  .navbar.scrolling-navbar {padding: 30px 50px}
  #navbarCollapse3 {display: none!important}
  .navbar.scrolling-navbar {background: none!important; box-shadow: none}
  
  /* PAGE BODY CSS  */  
  .loginBox .MuiPaper-root a {color:#145187;}
  .loginBox .MuiPaper-root {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); 
    margin-right:60px; width: 380px;
    margin-right: 60px;
   text-align: left; background-color:#F5F5F5; 
    color: #333333; position: relative;margin: auto;top:30%;border-radius: 10px;}
    .container{padding:40px 40px 10px;}
    .loginheadbox{background-color: #fff;padding: 20px 40px;border-radius: 10px;text-align: center;}
    .loginBox .MuiPaper-root .md-form label {display: none}
    .form-display-info {margin-bottom:25px}
    .form-group {margin-bottom:25px}
    .form-title {text-align: left; font-weight: bold}
    .contentBox  span {color: #fff; text-align: left; display: block; font-size: 30px; padding-right: 50%}
    span.text-danger {font-size: 12px}
     h2 {font-size:62px; font-weight:bold; color: #fff; width: 40%; text-align: left; padding-top:40px}
    button.btn-primary {width: 100%;
      background: #337AB7 !important;
      color: #fff;
      font-size: 14px;
      padding: 8px;
      text-transform: capitalize;
      font-weight: 600; }
    .col-md-6 .form-group {margin: 0}
    .new-user, .forgot-password {font-size: 12px; text-decoration: underline}
    .forgot-password {text-align: right}
    .form-check {position: relative; top:-2px}
    .form-check label {color:#333333; font-size: 12px}
    .new-user:hover, .forgot-password:hover {text-decoration: none}
    .copyRight {color: #fff; position: absolute; bottom: -50px; left:20px; font-size: 12px}
    .md-form.md-outline input {background: #f2f2f2!important}
    .MuiSnackbar-anchorOriginBottomCenter .MuiAlert-standardError {background: #fff!important; color: #000; padding: 10px!important; width: 300px!important}
    .MuiSnackbar-anchorOriginBottomCenter .MuiAlert-standardError .MuiAlert-message {color: #000}
    .MuiSnackbar-anchorOriginBottomCenter {position: fixed!important; top:10px!important; align-items: baseline}
    .MuiPaper-root {align-self: baseline; align-items: baseline}  
  }
  .loginPage {
    height: 100vh;
    background: #145187;
}
.loginheadbox img{
 width: 150px;
 margin-bottom: 5px;
}
.loginheadbox{
  font-size: 15px;
}
@media only screen and (max-width: 600px) {
  .loginBox .MuiPaper-root {
    width: 100%;
  }
  .loginPage {
    padding: 0;
  }
}