﻿
@{
    ViewData["Title"] = "Adduserroles";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script type="text/javascript">
        $('#btnsubmit').click(function () {

        });
    </script>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #337ab7;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }
        .required {
            color: red;
        }
        h2 {
            text-align: center;
        }
        /* Change styles for span and cancel button on extra small screens */
        @*@media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }

            .cancelbtn {
                width: 100%;
            }
        }*@
    </style>
</head>
<body>
    <h2>Add User Roles</h2>

    <form id="frmroles" role="form" autocomplete="off">
        <div class="container">
            <label for="roleid"><b>Role ID</b><span class="required">*</span></label>
            <input id="roleid" class="numbers" type="text" placeholder="Enter roleid" name="roleid" required>

            <label for="Rolename"><b>Role Name</b><span class="required">*</span></label>
            <input id="Rolename" type="text" placeholder="Enter Rolename" name="Rolename" required>

            <div id="diverror" style="padding: 3px; height: 30px; text-align: center; margin-top: 15px;" class="alert alert-info alert-dismissible fade show">
                <label id="lblerror"></label>
            </div>

            <button class="btn btn-primary" id="btnsubmit" type="button">Save</button>
        </div>
    </form>

</body>

<script type="text/javascript">

    $(document).ready(function () {
        $('#diverror').css('display', 'none');
    });

    $('.numbers').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });
    function Validate() {
        var Id = $("#roleid").val();
        var Name = $("#Rolename").val();
        if (Id == null || Id == "" || Id == " " || Id == "  ") {
            $("#diverror").show();
            $("#lblerror").html("Id is required");
            return false;
        }
        else if (Name == null || Name == "" || Name == " " || Name == "  ") {
            $("#diverror").show();
            $("#lblerror").html("Name is required");
            return false;
        }
        return true;
    }

    $('#btnsubmit').click(function () {
        $('#diverror').css('display', 'none');
        if (Validate()) {
            var Model = new FormData();
            Model.Id = $("#roleid").val();
            Model.Name = $("#Rolename").val();
            $.ajax({
                url: "/api/AddRole",
                type: 'POST',
                cache: false,
                contentType: "application/json; charset=utf-8",
                processData: false,
                data: JSON.stringify(Model),
                success: function (response) {
                    console.log(response);
                    $("#diverror").show();
                    $("#lblerror").html(response);
                    setTimeout(function () {// wait for 10 secs(2)
                        location.reload(); // then reload the page.(3)
                    }, 10000);
                    ////alert(response);
                    //window.location.replace(newurl);
                    //window.location.href = 'www.google.co.in';

                }, error: function (jqXHR, textStatus, errorThrown) {
                    //debugger; alert(jqXHR.status);
                    console.log(jqXHR.responseText);
                    console.log(textStatus, errorThrown);
                    $("#diverror").show();
                    $("#lblerror").html(jqXHR.responseText);
                }
            });
        }
    });


</script>