﻿
@{
    ViewData["Title"] = "Forgotpassword";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        html {
            box-sizing: border-box
        }

        *, *:before, *:after {
            box-sizing: inherit
        }

        html {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%
        }

        body {
            margin: 0
        }
        html, body {height:100%;}
        article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
            display: block
        }

        summary {
            display: list-item
        }

        audio, canvas, progress, video {
            display: inline-block
        }

        progress {
            vertical-align: baseline
        }

        audio:not([controls]) {
            display: none;
            height: 0
        }

        [hidden], template {
            display: none
        }

        a {
            background-color: transparent
        }

            a:active, a:hover {
                outline-width: 0
            }

        abbr[title] {
            border-bottom: none;
            text-decoration: underline;
            text-decoration: underline dotted
        }

        b, strong {
            font-weight: bolder
        }

        dfn {
            font-style: italic
        }

        mark {
            background: #ff0;
            color: #000
        }

        small {
            font-size: 80%
        }

        sub, sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline
        }

        sub {
            bottom: -0.25em
        }

        sup {
            top: -0.5em
        }

        figure {
            margin: 1em 40px
        }

        img {
            border-style: none
        }

        code, kbd, pre, samp {
            font-family: monospace,monospace;
            font-size: 1em
        }

        hr {
            box-sizing: content-box;
            height: 0;
            overflow: visible
        }

        button, input, select, textarea, optgroup {
            font: inherit;
            margin: 0
        }

        optgroup {
            font-weight: bold
        }

        button, input {
            overflow: visible
        }

        button, select {
            text-transform: none
        }

        button, [type=button], [type=reset], [type=submit] {
            -webkit-appearance: button
        }

            button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
                border-style: none;
                padding: 0
            }

            button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
                outline: 1px dotted ButtonText
            }

        fieldset {
            border: 1px solid #c0c0c0;
            margin: 0 2px;
            padding: .35em .625em .75em
        }

        legend {
            color: inherit;
            display: table;
            max-width: 100%;
            padding: 0;
            white-space: normal
        }

        textarea {
            overflow: auto
        }

        [type=checkbox], [type=radio] {
            padding: 0
        }

        [type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
            height: auto
        }

        [type=search] {
            -webkit-appearance: textfield;
            outline-offset: -2px
        }

            [type=search]::-webkit-search-decoration {
                -webkit-appearance: none
            }

        ::-webkit-file-upload-button {
            -webkit-appearance: button;
            font: inherit
        }
        /* End extract */

        body {
            font-family: Arial, Helvetica, sans-serif;
        }


        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            margin-left: 15px;
            font-size: 12px;
        }

        .rememberLabel {
            font-size: 12px
        }

        .clearfix {
            font-size: 0;
            display: block;
            height: 0;
            overflow: hidden;
            width: 100%
        }
        .innerDiv {min-height:100%; margin-bottom:-37px;}
        .loginForm {
            margin: 0 auto 40px;
            max-width: 40%;
            transform: translate(0%, 27%);
            font-size: 14px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
            text-align: left;
            padding: 40px 50px 20px;
            background-color: hsla(0,0%,100%,.2);
            position: relative;
            color: #fff;
        }

            .loginForm h2 {
                border-bottom: 1px solid #fff;
                margin-bottom: 15px;
                padding-bottom: 15px;
            }

            .loginForm label {
                margin-bottom: 0;
            }

            .loginForm a {
                color: #fff;
                text-decoration: underline
            }

                .loginForm a:hover {
                    text-decoration: none
                }

        body {
            background: #362c36;
        }

        .btn {
            background: #5a0480;
            border-color: #5a0480;
            padding: 10px 0;
            font-weight: bold;
            margin: 20px 0;
            font-size: 14px;
        }

            .btn:hover {
                background: #5a0480;
                border-color: #5a0480;
            }

        .loginForm .form-control {
            height: 45px;
        }
        #footer {
            display: block;
            width: 100%;
            clear: both;
            
            font-size: 11px;
            color: #fff;
            text-align: center;
            margin: 10px 0;
            bottom: 0;
        }
    </style>
</head>
<body>
    <div class="innerDiv">
        <div class="loginForm">
            <h2>Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <form id="forgotpwdfrm" role="form" autocomplete="off">
                @*class="form" method="post">*@
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                        <input id="email" name="email" placeholder="email address" class="form-control" type="email" required>
                    </div>
                </div>
                <div class="form-group">
                    @*<input name="recover-submit" ty class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">*@
                    <button id="btnsubmit" class="btn btn-lg btn-primary btn-block" type="button">Reset Password</button>
                </div>
                <div id="diverror" style="height: 45px; text-align: center;margin-top: 15px;" class="alert alert-info alert-dismissible fade show">
                    <strong><label id="lblerror"></label> </strong>
                </div>
                @*<div class="alert alert-success">
            <span id="spnmsg"></span>
        </div>*@
                <input type="hidden" class="hide" name="token" id="token" value="">
            </form>
        </div>
        </div>
    <footer id="footer">Powered By Fulcrum Digital</footer>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $('#diverror').css('display', 'none');
    });
    $('#btnsubmit').click(function () {
        $('#diverror').css('display', 'none');
        var Email = $("#email").val();
        if (Email == "" || Email == " " || Email == "  ") {
            $("#diverror").show();
            $("#lblerror").html("Email field is required.");
            return false;
        }
        var forgotPasswordResource = new FormData();
        forgotPasswordResource.Email = Email;
        $.ajax({
            url: "/api/ForgotPassword",
            type: 'POST',
            cache: false,
            contentType: "application/json; charset=utf-8",
            processData: false,
            data: JSON.stringify(forgotPasswordResource),
            success: function (response) {
                console.log(JSON.stringify(response));
                console.log(response.message);
                //alert(response.Message);
                $("#diverror").show();
                $("#lblerror").html(response.message);
                setTimeout(function () {// wait for 10 secs(2) 
                    location.replace("userlogin");
                }, 10000);
            }, error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
                $("#diverror").show();
                $("#lblerror").html(jqXHR.responseText);
                console.log(textStatus, errorThrown);
            }
        });
    });
</script>