﻿
@{
    ViewData["Title"] = "Registernewuser";
}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script type="text/javascript">
        $('#btnsubmit').click(function () {

        });
    </script>
    <style type="text/css">
        html {
            box-sizing: border-box
        }

        *, *:before, *:after {
            box-sizing: inherit
        }

        html {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%
        }

        body {
            margin: 0
        }

        article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
            display: block
        }

        summary {
            display: list-item
        }

        audio, canvas, progress, video {
            display: inline-block
        }

        progress {
            vertical-align: baseline
        }

        audio:not([controls]) {
            display: none;
            height: 0
        }

        [hidden], template {
            display: none
        }

        a {
            background-color: transparent
        }

            a:active, a:hover {
                outline-width: 0
            }

        abbr[title] {
            border-bottom: none;
            text-decoration: underline;
            text-decoration: underline dotted
        }

        b, strong {
            font-weight: bolder
        }

        dfn {
            font-style: italic
        }

        mark {
            background: #ff0;
            color: #000
        }

        small {
            font-size: 80%
        }

        sub, sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline
        }

        sub {
            bottom: -0.25em
        }

        sup {
            top: -0.5em
        }

        figure {
            margin: 1em 40px
        }

        img {
            border-style: none
        }

        code, kbd, pre, samp {
            font-family: monospace,monospace;
            font-size: 1em
        }

        hr {
            box-sizing: content-box;
            height: 0;
            overflow: visible
        }

        button, input, select, textarea, optgroup {
            font: inherit;
            margin: 0
        }

        optgroup {
            font-weight: bold
        }

        button, input {
            overflow: visible
        }

        button, select {
            text-transform: none
        }

        button, [type=button], [type=reset], [type=submit] {
            -webkit-appearance: button
        }

            button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
                border-style: none;
                padding: 0
            }

            button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
                outline: 1px dotted ButtonText
            }

        fieldset {
            border: 1px solid #c0c0c0;
            margin: 0 2px;
            padding: .35em .625em .75em
        }

        legend {
            color: inherit;
            display: table;
            max-width: 100%;
            padding: 0;
            white-space: normal
        }

        textarea {
            overflow: auto
        }

        [type=checkbox], [type=radio] {
            padding: 0
        }

        [type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
            height: auto
        }

        [type=search] {
            -webkit-appearance: textfield;
            outline-offset: -2px
        }

            [type=search]::-webkit-search-decoration {
                -webkit-appearance: none
            }

        ::-webkit-file-upload-button {
            -webkit-appearance: button;
            font: inherit
        }
        /* End extract */

        body {
            font-family: Arial, Helvetica, sans-serif;
        }


        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            margin-left: 15px;
            font-size: 12px;
        }

        .rememberLabel {
            font-size: 12px
        }

        .clearfix {
            font-size: 0;
            display: block;
            height: 0;
            overflow: hidden;
            width: 100%
        }

        .loginForm {
            margin: 0 auto;
            max-width: 40%;
            transform: translate(0%, 17%);
            font-size: 14px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
            text-align: left;
            padding: 40px 50px 20px;
            background-color: hsla(0,0%,100%,.2);
            position: relative;
            color: #fff; margin-bottom:30px;
        }

            .loginForm h2 {
                border-bottom: 1px solid #fff;
                margin-bottom: 15px;
                padding-bottom: 15px;
            }

            .loginForm label {
                margin-bottom: 0;
            }

            .loginForm a {
                color: #fff;
                text-decoration: underline
            }

                .loginForm a:hover {
                    text-decoration: none
                }

        body {
            background: #362c36;
        }

        .btn {
            background: #5a0480;
            border-color: #5a0480;
            padding: 10px 0;
            font-weight: bold;
            margin: 20px 0;
            font-size: 14px;
        }

            .btn:hover {
                background: #5a0480;
                border-color: #5a0480;
            }

        .loginForm .form-control {
            height: 45px;
        }
        .loginForm form {margin-bottom:0;}
        #footer {
            display: block;
            width: 100%;
            clear: both;
            font-size: 11px;
            color: #fff;
            text-align: center;
            margin: 10px 0;
        }
        .innerDiv {
            min-height: 100%;
            padding-bottom: 80px;
        }
    </style>
</head>
<body>
    <div class="innerDiv">
        <div class="loginForm">
            <h2>New User Registration</h2>
            <form id="forgotpwdfrm" role="form" autocomplete="off">
                <label for="uname"><b>Email</b><span class="required">*</span></label>
                <input id="txtemail" type="text" placeholder="Enter Email" name="email" required>

                <label for="psw"><b>Password</b><span class="required">*</span></label>
                <input id="txtpassword" type="password" placeholder="Enter Password" name="psw" required>

                <label for="confpsw"><b>Confirm Password</b><span class="required">*</span></label>
                <input id="txtconfpassword" type="password" placeholder="Confirm Password" name="txtconfpassword" required>

                <label for="ClientID"><b>Client ID</b><span class="required">*</span></label>
                <input id="txtClientID" type="text" placeholder="Enter Client ID" name="ClientID" required>
                <div id="diverror" style="padding: 3px; height: 30px; text-align: center; margin-top: 15px;" class="alert alert-info alert-dismissible fade show">
                    <label id="lblerror"></label>
                </div>
                <button class="btn btn-primary" id="btnsubmit" type="button">Save</button>
            </form>
            <p>Already have an account? <a href="userlogin">Sign in</a>.</p>
        </div>
    </div>
    <footer id="footer">Powered By Fulcrum Digital</footer>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#diverror').css('display', 'none');
    });


    function Validateuser() {
        var Email = $("#txtemail").val();
        var Password = $("#txtpassword").val();
        var ClientID = $("#txtClientID").val();
        var confimpss = $("#txtconfpassword").val();
        if (Email == "" || Email == " " || Password == "" || Password == " " || ClientID == "" || ClientID == " " || confimpss == "" || confimpss == " ") {
            $("#diverror").show();
            $("#lblerror").html("All fields are required.");
            return false;
        }
        if (Password != confimpss) {
            $("#diverror").show();
            $("#lblerror").html("Password and confirm password should be same.");
            return false;
        }
        return true;
    }

    $('#btnsubmit').click(function () {
        $('#diverror').css('display', 'none');
        if (Validateuser()) {

            var userCredentials = new FormData();
            userCredentials.Email = $("#txtemail").val();
            userCredentials.Password = $("#txtpassword").val();
            userCredentials.ClientID = $("#txtClientID").val();
            $.ajax({
                url: "/api/createnewuser",
                type: 'POST',
                cache: false,
                contentType: "application/json; charset=utf-8",
                processData: false,
                data: JSON.stringify(userCredentials),
                success: function (response) {
                    console.log(response);
                    console.log(JSON.stringify(response));
                    //alert(response);
                    //alert(JSON.stringify(response));
                    $("#diverror").show();
                    $("#lblerror").html("Succssfully added new user.");
                    setTimeout(function () {// wait for 10 secs(2)
                        location.reload(); // then reload the page.(3)
                    }, 10000);
                }, error: function (jqXHR, textStatus, errorThrown) {
                    $("#diverror").show();
                    $("#lblerror").html(jqXHR.responseText);
                }
            });
        }
    });
    ////$(document).ajaxStop(function () {
    ////    window.location.reload();
    ////});
</script>