.App {
  text-align: center;
}
body{
  background-color: #fff;
  font-family:normal normal bold 16px/19px Helvetica Neue !important;
}
.tab-content{
  background-color: #fff;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.MuiButton-root.MuiButton-containedPrimary{
  background-color: purple;
}
.MuiButton-root.MuiButton-containedPrimary:hover{
  background-color: #ab60ab;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-container{
  /* margin-top: 125px; */
    padding: 0 15px;
}
.main-container .alert {
  position: absolute;
  bottom: 0;
  right: 0;
}

body {background-image: url(assets/img/loginBg.png);
  background-position: top;
  background-repeat  : no-repeat;
  background-size    : cover;
  background-color: #F1F1F1; color: #000
}
.my-custom-nav-bar .branding b {color: #fff!important}
thead, thead tr, thead th, .MTableHeader-header-13 {background:#EDEDED!important}
.main-div {margin-bottom: 20px}
.navbar.scrolling-navbar.top-nav-collapse, .my-custom-nav-bar {background-image: url(assets/img/loginBg.png);
  background-position: top;
  background-repeat  : no-repeat;
  background-size    : cover;
  background-color: #F1F1F1}
  .branding img {display: none;}
  #navbarCollapse3 .navbar-nav.ml-auto a {color: #fff!important}
  .iconClass:hover {cursor: pointer; opacity: 0.7}
  .MTableToolbar-searchField-10 {border:1px solid #5A0480!important; border-radius:5px}
  .MTableToolbar-searchField-10 .MuiInput-underline:before {border: 0!important}
  .navbar #navbarCollapse3 .dropdown-menu a {color: #000!important; font-size: 14px}
  .MuiToolbar-gutters {padding-left: 14px!important}
  .MuiToolbar-gutters h6 {text-transform: capitalize!important; font-size: 16px}
 .MuiTableCell-body {font-size: 14px!important}
 .MuiToolbar-regular {min-height: 44px!important}
 .MuiTableCell-body .MuiIcon-root  {font-size: 1.2rem}
 .singleMidBox {background: #fff; border-radius: 5px; width: 40%; margin:10% auto; min-height: 150px; padding-top: 50px; padding-bottom: 50px}
 /* .main-container {margin-top: 75px!important} */
 .forgotPage .form {padding:20px}
 #sdlc .MuiTable-root tr:nth-last-child(-n+5) {
  font-weight: bold;
}

.tabBox {max-height:48vh; overflow-y: auto; margin-bottom: 10px; border:1px solid #ccc}
@media only screen and (min-width: 1400px) {
  .tabBox {max-height:60vh; overflow-y: auto; margin-bottom: 10px; border:1px solid #ccc}
}

.tabPanelDiv 
  table.MuiTable-root th:first-child, .tabPanelDiv table.MuiTable-root td:first-child {display:none;}
  .tabPanelDiv table.MuiTable-root button.MuiButtonBase-root {margin-left:20px; margin-right:-10px;}

  .rdw-embedded-wrapper .rdw-embedded-modal-header-option {font-size:14px !important}
  .rdw-link-wrapper .rdw-link-modal {height: 245px !important;}